<!--<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme" style="width:100%;">


  <md-sidenav-container>
    <md-sidenav mode="side" opened>
      <md-tab-group>
        <md-tab label="Users">
          <md-nav-list>
            <md-list-item *ngFor="let user of users" (click)="selectedUser = user">
              <md-icon svgIcon="avatars:{{user.avatar}}" class="avatar"></md-icon>
              <span>{{ user.name}}</span>
            </md-list-item>
          </md-nav-list>
        </md-tab>
        <md-tab label="Settings">
          <span>Settings</span>
        </md-tab>
      </md-tab-group>

    </md-sidenav>

    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">

      <md-card fxFlex="50">
        <md-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatar"></md-icon>
        <h2>{{selectedUser.name}}</h2>
        <p>{{selectedUser.details}}</p>
      </md-card>

      <md-card fxFlex fxLayout="column" fxLayoutGap="14px">
        <md-slide-toggle [(ngModel)]="selectedUser.isAdmin">Is Admin?</md-slide-toggle>
        <md-slide-toggle [(ngModel)]="selectedUser.isCool">Is Cool?</md-slide-toggle>
      </md-card>

    </div>



    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">

      <md-card fxFlex="33" style="padding:0px;">
        <md-toolbar id="mini-tool-bar" color="primary">
          <span>Mini Tollbar</span>

          <span fxFlex></span>

          <button md-icon-button [mdMenuTriggerFor]="themeMenu">
              <md-icon>more_vert</md-icon>
            </button>

        </md-toolbar>
      </md-card>

      <md-card fxFlex="33" style="padding:0px;">
        <md-toolbar color="primary">

          <span>Toolbar Title</span>
          <span class="example-spacer"></span>

          <button md-icon-button>
              <md-icon>favorite</md-icon>
            </button>

          <button md-icon-button>
              <md-icon>delete</md-icon>
            </button>

          <button md-icon-button [mdMenuTriggerFor]="themeMenu">
              <md-icon>more_vert</md-icon>
            </button>

        </md-toolbar>
      </md-card>

      <md-card fxFlex="33">
        3
      </md-card>

    </div>




  </md-sidenav-container>

  <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </md-menu>

  <button md-fab (click)="openAdminDialog()" class="fab-bottom-right">
    <md-icon>add</md-icon>
  </button>

</div>-->














<div class="main-container" fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme" style="width:100vw;">

  <!-- main toolbar top -->
  <app-main-toolbar></app-main-toolbar> 

  <md-sidenav-container>

    <md-sidenav mode="side" opened>

      <!-- menu left heare -->
      <app-navigation-menu-left></app-navigation-menu-left>

    </md-sidenav>

    <!-- Table for prosfores -->
    <!--<app-prosfores-table></app-prosfores-table>-->
    <h3>Dashboard</h3>

  </md-sidenav-container>

</div>



